读取txt

In [ ]:
import pandas as pd

file_path = "yelp_review.csv"

# 只读取前 10 行 
df = pd.read_csv(file_path, nrows=7000000)
print(df.head())

                review_id                 user_id             business_id  \
0  vkVSCC7xljjrAI4UGfnKEQ  bv2nCi5Qv5vroFiqKGopiw  AEx2SYEUJmTxVVB18LlCwA
1  n6QzIUObkYshz4dz2QRJTw  bv2nCi5Qv5vroFiqKGopiw  VR6GpWIda3SfvPC-lg9H3w
2  MV3CcKScW05u5LVfF6ok0g  bv2nCi5Qv5vroFiqKGopiw  CKC0-MOWMqoeWf6s-szl8g
3  IXvOzsEMYtiJI0CARmj77Q  bv2nCi5Qv5vroFiqKGopiw  ACFtxLv8pGrrxMm6EgjreA
4  L_9BTb55X0GDtThi6GlZ6w  bv2nCi5Qv5vroFiqKGopiw  s2I_Ni76bjJNK9yG60iD-Q

   stars        date                                               text  \
0      5  2016-05-28  Super simple place but amazing nonetheless. It...
1      5  2016-05-28  Small unassuming place that changes their menu...
2      5  2016-05-28  Lester's is located in a beautiful neighborhoo...
3      4  2016-05-28  Love coming here. Yes the place always needs t...
4      4  2016-05-28  Had their chocolate almond croissant and it wa...

   useful  funny  cool
0       0      0     0
1       0      0     0
2       0      0     0
3       0      0     0
4       0      0     0

In [17]:
import numpy as np
RANDOM_SEED = 0
NEG_ITEMS = 99

In [18]:
df['checkin_time']=pd.to_datetime(df['date'])
df['time_numeric']=df['checkin_time'].dt.strftime('%Y%m%d')
print(df.head())

                review_id                 user_id             business_id  \
0  vkVSCC7xljjrAI4UGfnKEQ  bv2nCi5Qv5vroFiqKGopiw  AEx2SYEUJmTxVVB18LlCwA
1  n6QzIUObkYshz4dz2QRJTw  bv2nCi5Qv5vroFiqKGopiw  VR6GpWIda3SfvPC-lg9H3w
2  MV3CcKScW05u5LVfF6ok0g  bv2nCi5Qv5vroFiqKGopiw  CKC0-MOWMqoeWf6s-szl8g
3  IXvOzsEMYtiJI0CARmj77Q  bv2nCi5Qv5vroFiqKGopiw  ACFtxLv8pGrrxMm6EgjreA
4  L_9BTb55X0GDtThi6GlZ6w  bv2nCi5Qv5vroFiqKGopiw  s2I_Ni76bjJNK9yG60iD-Q

   stars        date                                               text  \
0      5  2016-05-28  Super simple place but amazing nonetheless. It...
1      5  2016-05-28  Small unassuming place that changes their menu...
2      5  2016-05-28  Lester's is located in a beautiful neighborhoo...
3      4  2016-05-28  Love coming here. Yes the place always needs t...
4      4  2016-05-28  Had their chocolate almond croissant and it wa...

   useful  funny  cool checkin_time time_numeric
0       0      0     0   2016-05-28     20160528
1       0      0     0   2016-05-28     20160528
2       0      0     0   2016-05-28     20160528
3       0      0     0   2016-05-28     20160528
4       0      0     0   2016-05-28     20160528

In [19]:
n_users = df['user_id'].value_counts().size
n_items = df['business_id'].value_counts().size
n_clicks = len(df)
min_time = df['time_numeric'].min()
max_time = df['time_numeric'].max()
print(n_users, n_items, n_clicks, min_time, max_time)

1326101 174567 5261668 20040722 20171211

In [20]:
np.random.seed(RANDOM_SEED)

In [21]:
out_df = df.rename(columns={'business_id': 'item_id', 'user_id': 'user_id', 'time_numeric': 'time'})
out_df = out_df[['user_id', 'item_id', 'time']]
out_df = out_df.drop_duplicates(['user_id', 'item_id', 'time'])
out_df = out_df.sort_values(by=['time', 'user_id'], kind='mergesort').reset_index(drop=True)
l_u=int(len(out_df['user_id'].unique())/6)
l_i=int(len(out_df['item_id'].unique())/6)

np.random.seed(42)
sample_users=np.random.choice(out_df['user_id'].unique(),l_u,replace=False)
sample_items=np.random.choice(out_df['item_id'].unique(),l_i,replace=False)

filtered_df=out_df[out_df['user_id'].isin(sample_users) & out_df['item_id'].isin(sample_items)]

out_df=filtered_df
out_df.head()

                   user_id                 item_id      time
9   yYSBB5q7bY-qSVvmMgk4FA  GCRvrxMSC1nzShyM4Y-guQ  20041019
24  HLaSqQMDVvlcFPGJL_kGCA  xnY3_Tg5PjE_8n_bhwZu1Q  20050303
31  HLaSqQMDVvlcFPGJL_kGCA  _BzqiSfswHWAKL1bcvnqkA  20050307
71  HLaSqQMDVvlcFPGJL_kGCA  cMybOpJd352Cb6y9SeVhPw  20050325
73  qxC3xdg8UUKdNK9cisEmAg  hrhtWc8UcoZqYr2d7YPgEA  20050401

In [22]:
uids = sorted(out_df['user_id'].unique())
user2id = dict(zip(uids, range(1, len(uids) + 1)))
iids = sorted(out_df['item_id'].unique())
item2id = dict(zip(iids, range(1, len(iids) + 1)))

out_df['user_id'] = out_df['user_id'].apply(lambda x: user2id[x])
out_df['item_id'] = out_df['item_id'].apply(lambda x: item2id[x])
out_df.head()

    user_id  item_id      time
9     72510     5850  20041019
24    21348    21099  20050303
31    21348    12734  20050307
71    21348    13841  20050325
73    63934    15651  20050401

In [23]:
# leave one out spliting

clicked_item_set = dict()
for user_id, seq_df in out_df.groupby('user_id'):
    clicked_item_set[user_id] = set(seq_df['item_id'].values.tolist())
    
def generate_dev_test(data_df):
    result_dfs = []
    n_items = data_df['item_id'].value_counts().size
    for idx in range(2):
        result_df = data_df.groupby('user_id').tail(1).copy()
        data_df = data_df.drop(result_df.index)
        neg_items = np.random.randint(1, n_items + 1, (len(result_df), NEG_ITEMS))
        for i, uid in enumerate(result_df['user_id'].values):
            user_clicked = clicked_item_set[uid]
            for j in range(len(neg_items[i])):
                while neg_items[i][j] in user_clicked:
                    neg_items[i][j] = np.random.randint(1, n_items + 1)
        result_df['neg_items'] = neg_items.tolist()
        result_dfs.append(result_df)
    return result_dfs, data_df

In [24]:
import numpy as np
leave_df = out_df.groupby('user_id').head(1)
data_df = out_df.drop(leave_df.index)

[test_df, dev_df], data_df = generate_dev_test(data_df)
train_df = pd.concat([leave_df, data_df]).sort_index()

len(train_df), len(dev_df), len(test_df)

(112861, 11276, 22634)

In [25]:
train_df.head()

    user_id  item_id      time
9     72510     5850  20041019
24    21348    21099  20050303
31    21348    12734  20050307
71    21348    13841  20050325
73    63934    15651  20050401

In [26]:
test_df.head()

,user_id,item_id,time,neg_items
2947,3340,6899,20060625,"[13394, 14618, 7707, 8559, 13403, 8423, 15566,..."
3434,16009,17082,20060731,"[4533, 5114, 9381, 1229, 180, 9688, 3996, 1347..."
3998,38354,13152,20060828,"[10998, 12843, 4316, 1133, 7265, 12131, 3638, ..."
4075,40882,10133,20060901,"[6640, 3995, 9814, 7566, 1278, 13582, 1887, 13..."
4336,69265,9343,20060911,"[9718, 11824, 7132, 563, 11352, 12166, 3632, 2..."

In [27]:
# save results

train_df.to_csv('train.csv', sep='\t', index=False)
dev_df.to_csv('dev.csv', sep='\t', index=False)
test_df.to_csv('test.csv', sep='\t', index=False)